---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio
spec:
  selector:
    matchLabels:
      app: radio
  template:
    metadata:
      labels:
        app: radio
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: radio
          image: shokohsc/radio
          env:
            - name: ENV
              value: production
            - name: USE_SENTRY
              value: "false"
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: http
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              port: http
              path: /health
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              cpu: 100m
              memory: 64M
