---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-server
spec:
  selector:
    matchLabels:
      app: radio-server
  template:
    metadata:
      labels:
        app: radio-server
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: radio-server
          image: shokohsc/radio-server
          env:
            - name: ENV
              value: production
            - name: NODE_OPTIONS
              value: "--trace-warnings"
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          startupProbe:
            initialDelaySeconds: 360
            tcpSocket:
              port: http
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              port: http
              path: /health
          resources:
            requests:
              cpu: 100m
              memory: 128M
            limits:
              cpu: 1000m
              memory: 128M
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-ui
spec:
  selector:
    matchLabels:
      app: radio-ui
  template:
    metadata:
      labels:
        app: radio-ui
    spec:
      containers:
        - name: radio-ui
          image: shokohsc/radio-ui
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: http
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              port: http
              path: /
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              cpu: 100m
              memory: 64M
