---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-server
spec:
  template:
    spec:
      containers:
        - name: radio-server
          image: shokohsc/radio-server
          env:
            - name: ENV
              value: development
            - name: MUSIC_DIR
              value: /music
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              cpu: 1000m
              memory: 2048M
          volumeMounts:
            - name: wd-zarya
              mountPath: /music
      volumes:
        - name: wd-zarya
          nfs:
            server: nfs-wd-zarya.nfs-wd-zarya.svc.cluster.local
            path: /music/tracks
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-ui
spec:
  template:
    spec:
      containers:
        - name: radio-ui
          image: shokohsc/radio-ui
          env:
            - name: ENV
              value: development
            - name: USE_SENTRY
              value: "true"
            - name: SENTRY_DSN
              value: https://2f15ffed2e254ced911e78de9312afe0\@glitchtip.shokohsc.home/1
          resources:
            requests:
              cpu: 10m
              memory: 64M
            limits:
              cpu: 100m
              memory: 64M
