---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-server
spec:
  template:
    spec:
      containers:
        - name: radio-server
          image: shokohsc/radio-server
          args:
            - /app/server.js
          env:
            - name: ENV
              value: development
            - name: MUSIC_DIR
              value: /app/music
            - name: NODE_OPTIONS
              value: "--trace-warnings"
          volumeMounts:
            - name: wd-zarya
              mountPath: /app/music
      volumes:
        - name: wd-zarya
          nfs:
            server: nfs-wd-zarya.nfs-wd-zarya.svc.cluster.local
            path: /music/tracks
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: NotIn
                values:
                - zarya
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: radio-ui
spec:
  template:
    spec:
      containers:
        - name: radio-ui
          image: shokohsc/radio-ui
          env:
            - name: ENV
              value: development
            - name: USE_SENTRY
              value: "true"
            - name: SENTRY_DSN
              value: https://2f15ffed2e254ced911e78de9312afe0\@glitchtip.shokohsc.home/1
